@model IEnumerable<CRUD.Models.GladiatorModel>

@{
    ViewData["Title"] = "Gladiators";
}

<h1>Gladiators list</h1>

<p>
    <a asp-action="Create" class="link">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Weapon
            </th>
            <th>
                Attack
            </th>
            <th>
                Health
            </th>
            <th>
                Level
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weapon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.attack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.health)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="link">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id" class="link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id" class="link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    window.addEventListener("load", function () {
        var audio = document.getElementById("audio");
        audio.play();
    });
</script>

<audio id="audio" loop>
    <source src="~/Content/Audio/index_audio.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>